body{
    text-align: center;
    background-color: blanchedalmond;
    width: 100x;
    height: 100vh;
    background-size: cover;
    font-size: 18px;
    font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial;